@use "variables" as v;
@use "mixins" as m;

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: v.$sans-serif;
    background-color: v.$very-light-grey;
    max-width: v.$max-width;
    padding-bottom: calc(100vh - 140px);

    &.no-scroll {
        overflow: hidden;
    }
}

a {
	color: v.$black; 
    text-decoration:none;

    &:hover {
        color: v.$accent;
    }
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size:1.625rem;
}

h2 {
    font-size:1.35rem;
    font-weight: 500;
    color: v.$black;
    text-transform: uppercase;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    background-color: v.$light-grey;
   //border-bottom: 1px solid v.$med-grey;
    height: v.$sp_xl;
    z-index: 10;

    .left {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: v.$sp_sm;
        align-items: center;
        padding: 0 0 0 v.$sp_sm;

        img {
            width: 30px;
        }

        .active {
            border: 1px solid red;
        }

        &.active,
        &:hover {
            opacity: 1;
            background-color: #E0E0E0; // A slightly darker grey for feedback
        }
    }

    .right {
        display: grid;
        align-items: center;
        padding: 0 v.$sp_sm 0 0;

        img {
            max-width: 100px;
        }
    }
}

main {
    position: relative;
}
