@use "variables" as v;
@use "mixins" as m;

body {
    font-size: 16px;
	margin: 0; 
    padding: 0; 
    position: relative; 
    font-family: v.$sans-serif;
    background-color: v.$very-light-grey;
}

a {
	color: v.$black; 
    text-decoration:none;

    &:hover {
        color: v.$accent;
    }

    &:active {}
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size:1.625rem;
}

h2 {
    font-size:1.35rem;
    font-weight: 500;
    color: v.$black;
    text-transform: uppercase;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    background-color: v.$light-grey;
   //border-bottom: 1px solid v.$med-grey;
    height: v.$sp_xl;
    z-index: 10;

    .left {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-gap: v.$sp_sm;
        align-items: center;
        padding: 0 0 0 v.$sp_sm;
    }

    .right {
        display: grid;
        align-items: center;
        padding: 0 v.$sp_sm 0 0;

        img {
            max-width: 100px;
        }
    }
}

main {
    position: relative;
}

#circle-nav {
    position: fixed;
    top: 60px;
    padding: v.$sp_md;
    background-color: v.$very-light-grey;
    z-index: 10;
    
    .category-links {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: max-content min-content max-content min-content;
        grid-gap: v.$sp_md;
        place-items: center;

        -webkit-overflow-scrolling: touch;
        
        &::-webkit-scrollbar {
            display: none;
        }

        a {
            display: inline-block;
            font-size: 1.35em;
       

            &:hover {
                color: v.$accent;
            }

            &.active {
                color: v.$accent
            }
        }

        .bullet {
            display: grid;
            grid-auto-flow: row;
   

            font-size: 0.5em;
            color: v.$accent;
        }
    }
    
    //@include m.drop-shadow($x: 0px, $y: 4px, $blur: 5px, $spread: 0px, $color: rgba(0, 0, 0, 0.03));

    .scroll-shadow {
        @include m.drop-shadow($x: 0px, $y: 4px, $blur: 5px, $spread: 0px, $color: rgba(0, 0, 0, 0.05));
    }
}

#circles {
    z-index: -1;
    padding: 0 5%;
    margin: 120px 0 0;
    
    .circle-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        grid-gap: v.$sp_sm;
        place-items: center;

        a.circle {
            display: grid;
            place-items: center;
            font-size: 1.25em;
            background-color: v.$accent;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            color: v.$white;
            text-transform: uppercase;

            @include m.drop-shadow();

            &:hover {
                box-shadow: none;
            }

            &:active {
                // soon
            }
        }
    }
    
    hr {    
        height: 1px;
        border-color: v.$light-grey;
    }
}

#product {

    header {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-gap: v.$sp_sm;
        border-bottom: 1px solid v.$med-grey;
        padding: 0 0 v.$sp_md;

        .product-image {
            text-align: center;

            img {
                width: 80%;
            }
        }

        h1 {
            font-size: 2em;
            font-weight: 600;
            margin: 0;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, min-content);
            grid-gap: v.$sp_sm;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    content {

        img {
            width: 100%;
        }
    }
}

//panel variables - MOVE SOON
$panel-top-gap: 60px;
$transition-speed: 0.4s;


// BG Overlay
#panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: v.$bg-dark-transparent;  
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-speed ease, visibility 0s $transition-speed;
}

// Panel
#sliding-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: $panel-top-gap; 
    overflow-y: auto;
    background-color: v.$white;
    color: v.$black;
    padding: v.$sp_md;

    @include m.drop-shadow;
  
    // Start off-screen at the bottom
    transform: translateY(100%);
    transition: transform $transition-speed ease-in-out;


    // The 'X' close button inside the panel
    #top {
        position: fixed;
        top: 0;
        left: 0;
    }

    #close-panel-btn {
        position: absolute;
        top: 15px;
        right: 20px;
        background: none;
        border: none;
        font-size: 28px;
        line-height: 1;
        cursor: pointer;
        color: #888;
        
        &:hover {
            color: #000;
        }
    }
}


// --- ACTIVE STATE ---

// When the overlay is visible...
#panel-overlay.is-visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; // Make it appear instantly on activation
  
  // ...the child panel slides into view
  #sliding-panel {
    transform: translateY(0);
  }
}
