@use "variables" as v;
@use "mixins" as m;

#circle-nav {
    position: fixed;
    top: 60px;
    padding: v.$sp_md;
    background-color: v.$very-light-grey;
    z-index: 10;
    
    .category-links {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, max-content);
        grid-gap: v.$sp_md;
        place-items: center;

        -webkit-overflow-scrolling: touch;
        
        &::-webkit-scrollbar {
            display: none;
        }

        a {
            display: inline-block;
            font-size: 1.5em;
            padding: v.$sp_xsm v.$sp_sm;
            border-radius: v.$border-radius;
            opacity: 0.7;

            &:hover {
                color: v.$accent;
                background-color: v.$light-grey;
                opacity: 1;
                font-weight: 500!important;
            }

            &.active {
                color: v.$accent;
                background-color: v.$light-grey;
                opacity: 1;
                font-weight: 500!important;
            }
            
        }
    }
}

#circles {
    z-index: -1;
    padding: 0 5%;
    margin: 140px 0 0;

    #adaptive, #on-demand, #equilibrum {
        scroll-margin-top: 140px;
    }
    
    .circle-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: v.$sp_md;
        place-items: center;

        a.circle {
            display: grid;
            place-items: center;
            font-size: 1.25em;
            background-color: v.$accent;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            color: v.$white;
            text-transform: uppercase;

            @include m.drop-shadow();

            &:hover {
                box-shadow: none;
            }
        }
    }
    
    hr {    
        height: 1px;
        border-color: v.$light-grey;
    }
}