@use "variables" as v;

#list-view {
    &.hidden {
        display: none;
    }

    margin: v.$sp_xl 0 0;

    .list-item {
        display: flex;
        align-items: center;
        padding: v.$sp_sm v.$sp_md;
        border-bottom: 1px solid v.$light-grey;
        background-color: v.$white;

        &:hover {
            background-color: v.$very-light-grey;
        }

        .list-item-illustration {
            width: 50px;
            height: 50px;
            margin-right: v.$sp_md;
            object-fit: contain;
        }

        .list-item-title {
            flex-grow: 1;
            font-size: 1.1em;
        }

        .list-item-arrow {
            font-size: 1.5em;
            color: v.$accent;
        }
    }

    &.hidden {
        display: none;
    }
}