@use "variables" as v;
@use "mixins" as m;

#product {
       
    .product-illustration,
    .product-photo {
        text-align: center;

        img {
            width: 80%;
            
        }
    }

    header {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-gap: v.$sp_sm;
        border-bottom: 1px solid v.$med-grey;
        padding: 0 0 v.$sp_md;


        h1 {
            font-size: 2em;
            font-weight: 600;
            margin: 0;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, min-content);
            grid-gap: v.$sp_sm;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .content {
        
        img {
            width: 80%;
        }
    }
}