$serif: "Libre Baskerville", serif;
$sans-serif: "Lato", sans-serif;

$black: #01010F;
$white: #FFFFFF;
$bg-grey: #F8F8F8;
$dark-grey: #666666;
$med-grey: #CCCCCC;
$light-grey: #EFEFEF;
$very-light-grey: #F7F7F7;
$grey: #333333;
$accent: #663399;

$bg-dark-transparent: rgba(0, 0, 0, 0.3);

$sp_xxl: 80px;
$sp_xl: 60px;
$sp_lg: 40px;
$sp_md: 20px;
$sp_sm: 10px;
$sp_xsm: 5px;

$radius: 8px;

$thumb_width: 250px;
$thumb_height: 200px;

$panel-top-gap: 120px;
$transition-speed: 0.4s;

$text-max-width: 700px;
$max-width: 600px;

$bp_mobile: 768px;